# Compiled class files
*.class

# Log files
*.log

# IntelliJ IDEA files
.idea/
*.iml

# Eclipse files
.classpath
.project
.settings/

#Vscode files
.vscode/

# Maven files
target/

# Cucumber reports
cucumber-reports/

# Extent
output/

# Temporary files
*.tmp
